.bicicletas-bg{
  background: linear-gradient(to right, white 30%,#111 0%);
}

.bicicletas{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 60px 0;
  background: url('../../img/dec/top-right.svg') no-repeat top 40px right 40px;
}

.bicicletas-imagem{
  display: grid;
}

.bicicletas-imagem img{
  grid-area: 1/1;
}

.bicicletas-imagem span{
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  background: #111;
  padding: 8px 16px 8px 8px;
  display: inline-block;
  border-radius: 4px 0 0 4px;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas h2,
.bicicletas p{
  grid-column: 1/-1;
}

.bicicletas h2 {
  margin-bottom: 20px;
}

.bicicletas h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: #ffbb00;
  margin-bottom: 8px;
}

.bicicletas p{
  margin-bottom: 32px;
}

.bicicletas a{
  place-self: end;
}

.bicicletas li {
  display: flex;
  align-items: center;
}

.bicicletas li + li {
  margin-top: 16px;
  /* Se eu colocasse como grid a .bicicletas ul e definisse um gap de 16px daria na mesma */
}

.bicicletas-conteudo img{
  width: 24px;
  margin-right: 8px;
}

@media(max-width:800px){
  .bicicletas-bg{
    background: #111;
  }
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 40px 20px;
  }
}

@media(max-width:600px){
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }
  .bicicletas ul{
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }
  .bicicletas a{
    place-self: start;
  }
}