*{
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
}

p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

blockquote{
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

img{
  max-width: 100%;
  display: block;
}

/* Esse efeito só pega nas imagens que possuem o atributo source que termine com .jpg */
img[src$=".jpg"]{
  border-radius: 4px;
}